body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .first {
    background-color: #1f2937;
}

.header {
    display:flex;
    justify-content: space-around;
}

.logo {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    align-items: flex-end;
}

a {
    text-decoration: none; 
    color: white;
    font-size: 18px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;  
    gap: 20px;
  }